In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("Data.csv")
#  always create dataframe and indexing will work in array only

In [11]:
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [41]:
#  defining rows and columns
features=data.iloc[:,:-1].values

In [42]:
features

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [43]:
# extracting actual output that is label
label=data.iloc[:,-1]

In [44]:
label.values
#  here values will remove header as well as  index number

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

## this is for  data  cleaning

In [45]:
#  data cleaning or removal of missing values
from sklearn.preprocessing  import Imputer

In [46]:
# calling  imputer 
imp=Imputer(missing_values='NaN',strategy='mean',axis=0)
#  processing column oriented           where  axis=0 means processing with column

In [48]:
fit_only=imp.fit(features[:,1:3])

In [52]:
# replacing values
features[:,1:3]=fit_only.transform(features[:,1:3])

# data encoding

In [53]:
#  converting  to numeric values 
from sklearn.preprocessing  import LabelEncoder
data_enc=LabelEncoder()

In [54]:
data_enc.fit_transform(label)

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

# categorical variables in a column